.crtPost{
    background-color: #1A1A1A;
}

.createPostInput{
    outline: none;
    border: none;
    background-color: #3730305c;
    border-radius: 4px;
    font-size: 1.1rem;
    padding: 0.4rem;
    color: white;
    /* width: 100px; */
}

.logo_img_sb_post{
    width: 2.5rem;
    height: auto;
}

::placeholder {
    padding: 0.03rem;
    font-size: 1rem;
}

.postLabel{
    display: none;
}

.postCreate{
    padding: 0.8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.homeIcons{
    color: white;
    font-size: 1.5rem;
}

.homeIcons:hover{
    color: rgb(212, 211, 211);
    cursor: pointer;
}