@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Titillium+Web&display=swap');

.navBar{
    display: flex;
    justify-content: space-between;
    background-color: #1A1A1A;
    padding: 0 4rem 0 4rem;
    height: 75px;
    width: 100%;
}

.logo_img_sb{
    width: 14rem;
    height: auto;
}

.logo_img_sb:hover{
    cursor: pointer;
}

.navLeft{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.searchBar{
    display: flex;
    align-items: center;
}

.navSearchIcon{
    position: relative;
}

.searchBarLabel{
    display: none;
}

.searchBarInput{
    outline: none;
    border: none;
    background-color: #3730305c;
    /* border: 0.3px solid rgba(255, 255, 255, 0.615); */
    border-radius: 7px;
    font-size: 1.1rem;
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
    color: rgb(145, 143, 143);
    font-weight: 300;
    font-family: 'Titillium Web', sans-serif;
    /* width: 100px; */
}

::placeholder {
    padding: 0.03rem;
    font-size: 1rem;
}

.hashInfo{
    display: flex;
    flex-direction: column;
    align-items: start;
    color: rgb(164, 162, 162);
}

.hashesInNav{
    font-size: 0.8rem;
    display: flex;
}

.hash{
    color: red;
}

.projectMainName{
    font-size: 1.9rem;
    color: white;
    font-weight: 500;
}

.navRight{
    display: flex;
    align-items: center;
    gap: 20px;
}

.navProfile{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 5px;
    border-radius: 15px;
    padding: 0 0.5rem 0 0.5rem;
    background-color: #00000035;
}

.nav-user-data{
    display: flex;
    align-items: center;
    gap: 12px;
    /* background-color: #00000035; */
    /* color: white; */
    padding: 0.5rem;
    border-radius: 5px;
}

.nav-user-name{
    font-size: 1.2rem;
    color: rgb(216, 211, 211);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.userAva{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center
}

.userAva:hover{
    cursor: pointer;
}

.navIcons{
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.navIcon{
    padding: 0.3rem;
    font-size: 1.9rem;
    color: white;
}

.navIcon:hover{
    background-color: rgba(255, 255, 255, 0.062);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.downIcon {
    font-size: 2rem;
    color: white;
    padding: 0.3rem;
}

.downIcon:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.222);
    border-radius: 50%;
}


/* chat */


/* Dropdown container */
.navDropdown {
    position: absolute;
    top: 100%;
    right: 40px;
    background-color: #333; /* Dark mode background color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
    width: 110px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
  }
  
  /* Dropdown items */
  .navDropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #e1e0e0; /* Dark mode text color */
    transition: background-color 0.3s;
  }
  
  /* Hover effect on dropdown items */
  .navDropdown a:hover {
    background-color: #555; /* Dark mode hover background color */
  }
  
  /* Show the dropdown container when it's active */
  .navProfile.active .navDropdown {
    display: block;
  }